.Homepage {
    text-align: center;
}

.Homepage-logo {
    height: 15vmin;
    pointer-events: none;
}

.Homepage-header {
    background-color: #f28e29;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Homepage-link {
    color: #61dafb;
}

.section-1{
    margin: auto;
    width:100%;
    border: 3px solid green;
    padding: 1px;

}
.section-2{
    padding: 10px;

}

.title{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 52px;
    letter-spacing: 2.6px;
    word-spacing: -0.8px;
    color: #2D3007;
    font-weight: 700;
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
    margin: auto; 
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes Homepage-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}